@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my GH-900 Class day 2</h1>


    <p>Learn about <a href="https://learn.microsoft.com">using Github stuff over here </a>.</p>
</div>



